@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: 'Tajawal-Regular';
  src: url("../fonts/Tajawal-Regular.ttf");
}

@font-face {
  font-family: 'Segoe-Script';
  src: url("../fonts/Segoe_Script.woff");
}

body {
  font-family: 'Poppins', 'Poppins-Regular', 'Poppins-SemiBold', 'Tajawal-Regular','Segoe-Script';
  background-color: #f2eefa;
  font-size: 14px;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 991.98px) {
  body {
    font-size: 12px;
  }
}

.section-head {
  padding: 20px 0 0 0;
}

.section-head .circle {
  background-color: #ffc051;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 15px;
}

.section-head .circle svg {
  width: 40px;
  height: 40px;
}

.section-head .section__title {
  padding: 30px 0;
  color: #3e206d;
  font-family: "Poppins-SemiBold";
}

header .navbar--cutom {
  height: 75px;
}

header .navbar--cutom .navbar-brand svg {
  width: 126px;
  height: 52px;
}

header .navbar--cutom .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .navbar--cutom .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #000;
  padding-left: 25px;
  padding-right: 30px;
  font-size: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .navbar--cutom .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .navbar--cutom .navbar-collapse .navbar-nav .nav-item.active .nav-link {
  font-weight: bold;
}

header .navbar--cutom .navbar-collapse .search-form .btn-search svg {
  width: 16px;
  height: 16px;
}

header .navbar--cutom .navbar-collapse .search-form .btn-lang {
  -webkit-margin-start: 25px;
          margin-inline-start: 25px;
  background-color: #fff;
  padding: 1px 7px;
}

header .navbar--cutom .navbar-collapse .search-form .btn-lang img {
  width: 20px;
  height: 16px;
}

header .navbar--sec {
  background-color: #eeeeee;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0px 12px 20px -7px gray;
          box-shadow: 0px 12px 20px -7px gray;
  -webkit-box-shadow: 0px 9px 5px -10px #777676;
          box-shadow: 0px 9px 5px -10px #777676;
}

header .navbar--sec .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #3e206d;
}

header .navbar--sec .navbar-collapse .navbar-nav .nav-item.active .nav-link {
  color: #3e206d;
}

header .navbar--index {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99999;
}

header .navbar--index .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  position: relative;
}

header .navbar--index .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}

header .navbar--index .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
  content: "";
  border-bottom: 2px solid #ffc051;
  position: absolute;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 30%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

header .navbar--index .navbar-collapse .navbar-nav .nav-item.active .nav-link {
  color: #fff;
}

header .navbar--index .navbar-collapse .navbar-nav .nav-item.active .nav-link::after {
  content: "";
  border-bottom: 2px solid #ffc051;
  position: absolute;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 30%;
}

@media (max-width: 991.98px) {
  header .navbar--cutom .navbar-brand svg {
    width: 90px;
  }
  header .navbar .navbar-toggler {
    border: 2px solid #fff;
    outline: none;
    border-radius: 0;
  }
  header .navbar .navbar-toggler .navbar-toggler-icon {
    background-color: #fff;
    display: block;
    height: 2px;
  }
  header .navbar .navbar-toggler .navbar-toggler-icon:not(:last-of-type) {
    margin-bottom: 0.3rem;
  }
  header .navbar .navbar-collapse {
    background-color: #3e206db3;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link::after {
    width: 100% !important;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
    width: 100% !important;
  }
  header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 12px;
  }
  header .navbar .form-inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .navbar .form-inline .btn-search {
    margin-left: 25px;
  }
  header .navbar--sec .navbar-toggler {
    border: 2px solid #3e206d;
    outline: none;
  }
  header .navbar--sec .navbar-toggler .navbar-toggler-icon {
    background-color: #3e206d;
  }
  header .navbar--sec .navbar-collapse {
    background-color: #eeeeee;
  }
}

.swiper-container--index {
  border-bottom: 1px solid #ffc051;
}

.swiper-container--index .swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container--index .swiper-slide {
  position: relative;
}

.swiper-container--index .swiper-slide .banner-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9999;
}

.swiper-container--index .swiper-slide .banner-content .content__logo svg {
  width: 100%;
  height: auto;
  max-height: 170px;
}

.swiper-container--index .swiper-slide .banner-content .content__text h2 {
  line-height: 1.6;
  font-weight: bold;
  color: #ffc051;
}

.swiper-container--index .swiper-slide .banner-content .content__text h5 {
  line-height: 1.5;
  color: #fff;
}

.swiper-container--index .swiper-slide .banner-content .content__text .start {
  color: #fff;
  font-weight: bold;
}

.swiper-container--index .swiper-slide .banner-content .content__text .start svg {
  width: 16px;
  -webkit-margin-start: 6px;
          margin-inline-start: 6px;
}

.swiper-container--index .swiper-slide .banner-content .content__text .start svg path {
  fill: #ffc051;
}

.swiper-container--index .swiper-slide .over-lay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0000007a;
}

.swiper-container--index .swiper-slide .slide {
  width: 100%;
  height: 100%;
}

.swiper-container--index .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ffc051;
  opacity: 0.29;
}

.swiper-container--index .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffc051;
  opacity: 1;
}

.swiper-container--index .social-icons {
  position: absolute;
  left: 1%;
  top: 50%;
  z-index: 99999;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.swiper-container--index .social-icons .social-icons__list li a {
  padding: 5px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-container--index .social-icons .social-icons__list li a svg {
  width: 20px;
  height: 20px;
}

.swiper-container--index .social-icons .social-icons__list li a svg path {
  fill: #f5c166;
}

.swiper-container--index .social-icons .social-icons__list li a:hover {
  -webkit-padding-start: 8px;
          padding-inline-start: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-container--index .social-icons .social-icons__list li a:hover svg path {
  fill: #ffa810;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-container--index .banner-service {
  position: absolute;
  right: 0;
  bottom: 1px;
  z-index: 99999;
  background-color: #3e206d;
  border-top-left-radius: 15px;
  overflow: hidden;
}

.swiper-container--index .banner-service .service__list {
  padding: 20px 0;
  margin: 0;
}

.swiper-container--index .banner-service .service__list li:not(:last-of-type) {
  border-bottom: 1px solid #fff;
}

.swiper-container--index .banner-service .service__list li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
}

.swiper-container--index .banner-service .service__list li a svg {
  width: 50px;
}

.swiper-container--index .banner-service .service__list li a svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.swiper-container--index .banner-service .service__list li a p {
  padding-top: 5px;
  margin: 0;
  text-transform: uppercase;
  color: #ffc051;
  font-size: 10px;
}

.swiper-container--index .banner-service .service__list li a:hover svg path {
  fill: #ffc051;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.index .first-sec {
  padding: 70px 0;
}

.index .first-sec .sec__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .first-sec .sec__box .icon svg {
  max-width: 115px;
  height: auto;
}

.index .first-sec .sec__box .box__content {
  padding: 10px 15px 10px 15px;
}

.index .first-sec .sec__box .box__content h4 {
  color: #ffc051;
}

.index .first-sec .sec__box .box__content p {
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .swiper-container--index .swiper-slide .banner-content .content__text h2 {
    font-size: 1.2rem;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text h5 {
    font-size: 1rem;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text .start {
    font-size: 0.7rem;
  }
  .swiper-container--index
.swiper-slide
.banner-content
.content__text
.start
svg {
    width: 12px;
  }
  .swiper-container--index .swiper-slide .banner-content .content__logo {
    text-align: center;
  }
  .swiper-container--index .swiper-slide .banner-content .content__logo svg {
    width: 65%;
  }
}

@media (max-width: 767.98px) {
  .swiper-container--index {
    height: 300px;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text h2 {
    font-size: 0.7rem;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text h5 {
    font-size: 0.6rem;
  }
  .swiper-container--index .swiper-slide .banner-content .content__text .start {
    font-size: 0.5rem;
  }
  .swiper-container--index
.swiper-slide
.banner-content
.content__text
.start
svg {
    width: 12px;
  }
  .swiper-container--index .swiper-slide .banner-content .content__logo svg {
    width: 65%;
  }
  .swiper-container--index .banner-service .service__list {
    display: none;
  }
  .swiper-container--index .social-icons .social-icons__list li a {
    padding: 3px;
  }
  .swiper-container--index .social-icons .social-icons__list li a svg {
    width: 15px;
    height: 15px;
  }
  .index .first-sec .sec__box .icon svg {
    max-width: 80px;
  }
  .index .first-sec .sec__box .box__content h4 {
    font-size: 1rem;
  }
  .index .first-sec .sec__box .box__content p {
    font-size: .7rem;
  }
}

.corporate .welcome {
  background-color: #fefefe;
  padding-top: 30px;
  padding-bottom: 80px;
}

.corporate .welcome .welcome__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.corporate .welcome .welcome__row .welcome__col {
  width: 45%;
}

.corporate .welcome .welcome__row .welcome__col .w__souhoola {
  margin: 0;
  padding: 15px 0 5px 0;
  color: #ffc051;
  font-size: 18px;
  font-family: "Poppins-Regular";
}

.corporate .welcome .welcome__row .welcome__col h2 {
  color: #3e206d;
  font-family: "Poppins-SemiBold";
}

.corporate .welcome .welcome__row .welcome__col .w__brief {
  padding-top: 10px;
  color: #000000;
  font-family: "Poppins-Regular";
  font-weight: bold;
}

.corporate .seo-word .ceo__text {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.8;
}

.corporate .seo-word .ceo__signature {
  text-align: end;
  font-family: "Segoe-Script";
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.corporate .seo-word .ceo__m-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0 40px 0;
}

.corporate .seo-word .ceo__m-v .m-v__box {
  background-color: #fff;
  padding: 20px;
  width: 45%;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 0px #777676;
          box-shadow: 0px 0px 5px 0px #777676;
}

.corporate .seo-word .ceo__m-v .m-v__box h3 {
  margin: 0;
  padding: 0px 0 15px 0;
  font-weight: bold;
  color: #3e206d;
}

.corporate .seo-word .ceo__m-v .m-v__box p {
  font-weight: bold;
  line-height: 2;
  font-size: 16px;
}

.corporate .seo-word .ceo__m-v .m-v__box .m-v__icon {
  position: absolute;
  top: -40px;
  right: -40px;
}

.corporate .seo-word .ceo__m-v .m-v__box .m-v__icon svg {
  width: 80px;
  height: 80px;
}

.corporate .our-board .our__box {
  background-color: #fff;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 0px #777676;
          box-shadow: 0px 0px 5px 0px #777676;
  font-family: "Poppins-Regular";
  text-align: center;
  font-weight: bold;
  line-height: 1.7;
}

.corporate .our-board .our__box img {
  border-radius: 50%;
  max-width: 100px;
  margin-bottom: 10px;
}

.corporate .our-board .our__box .name {
  color: #3e206d;
}

.corporate .our-board .our__box .job-title,
.corporate .our-board .our__box .company {
  margin-bottom: 2px;
  font-size: 16px;
}

.corporate .top-manegment .top__box {
  background-color: #fff;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 5px 0px #777676;
          box-shadow: 0px 0px 5px 0px #777676;
  font-family: "Poppins-Regular";
}

.corporate .top-manegment .top__box .img-contain {
  width: 30%;
}

.corporate .top-manegment .top__box .img-contain img {
  width: 100%;
  padding: 0 10px;
}

.corporate .top-manegment .top__box .emp-desc {
  width: 70%;
  text-align: start;
  font-size: 14px;
}

.corporate .top-manegment .top__box .emp-desc .name {
  margin-top: 5px;
  color: #3e206d;
}

.corporate .top-manegment .top__box .emp-desc p {
  margin: 0;
  font-weight: bold;
}

.corporate .top-manegment .swiper-container {
  width: 100%;
  height: 100%;
}

.corporate .top-manegment .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.corporate .our-coll {
  margin-bottom: 80px;
}

.corporate .our-coll .swiper-container--cutom {
  width: 100%;
  height: 100%;
}

.corporate .our-coll .swiper-container--cutom .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.corporate .our-coll .swiper-container--cutom .swiper-slide img {
  width: 100%;
}

.corporate .our-coll .swiper-button-prev,
.corporate .our-coll .swiper-container-rtl .swiper-button-next {
  left: -60px;
  background-image: none !important;
  outline: none !important;
}

.corporate .our-coll .swiper-button-prev svg path,
.corporate .our-coll .swiper-container-rtl .swiper-button-next svg path {
  fill: #ffc051;
}

.corporate .our-coll .swiper-button-prev:hover svg path,
.corporate .our-coll .swiper-container-rtl .swiper-button-next:hover svg path {
  fill: #f2a82a;
}

.corporate .our-coll .swiper-button-next,
.corporate .our-coll .swiper-container-rtl .swiper-button-prev {
  background-image: none !important;
  right: -60px;
  outline: none !important;
}

.corporate .our-coll .swiper-button-next svg,
.corporate .our-coll .swiper-container-rtl .swiper-button-prev svg {
  outline: none;
}

.corporate .our-coll .swiper-button-next svg path,
.corporate .our-coll .swiper-container-rtl .swiper-button-prev svg path {
  fill: #ffc051;
}

.corporate .our-coll .swiper-button-next:hover svg path,
.corporate .our-coll .swiper-container-rtl .swiper-button-prev:hover svg path {
  fill: #f2a82a;
}

footer {
  background-color: #3E206D;
  padding: 5px 0;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer div {
  color: #fff;
}

footer .footer div svg {
  width: 45px;
  height: 20px;
}

@media (max-width: 767.98px) {
  footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .footer div {
    padding: 5px;
  }
}

/*# sourceMappingURL=style-en.css.map */
