.swiper-container--index {
  border-bottom: 1px solid #ffc051;
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    position: relative;
    .banner-content {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 9999;

      .content__logo {
        svg {
          width: 100%;
          height: auto;
          max-height: 170px;
        }
      }

      .content__text {
        h2 {
          line-height: 1.6;
          font-weight: bold;
          color: #ffc051;
        }
        h5 {
          line-height: 1.5;
          color: #fff;
        }
        .start {
          color: #fff;
          font-weight: bold;

          svg {
            width: 16px;
            margin-inline-start: 6px;
            path {
              fill: #ffc051;
            }
          }
        }
      }
    }
    .over-lay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 999;
      background-color: #0000007a;
    }
    .slide {
      width: 100%;
      height: 100%;
    }
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #ffc051;
    opacity: 0.29;
    &.swiper-pagination-bullet-active {
        background-color: #ffc051;
        opacity: 1;
      }
  }
  
}
