footer{
    background-color: #3E206D;
    padding: 5px 0;
   
    .footer{
        display: flex;
        justify-content: space-between;
        div{
            color: #fff;
            
            svg{
                width: 45px;
                height: 20px;
            }
        } 
    }   
   
}