footer{
    background-color: #3E206D;
    padding: 5px 0;
   
    .footer{
        display: flex;
        justify-content: space-between;
        div{
            color: #fff;
            
            svg{
                width: 45px;
                height: 20px;
            }
        } 
    }   
   
}

@media (max-width: 767.98px) {

    footer .footer{
        flex-direction: column;
       text-align: center;
       div{
           padding: 5px;
       }  
    }


}