




.section-head {
  padding: 20px 0 0 0;
  .circle {
    background-color: #ffc051;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 15px;
    svg {
      width: 40px;
      height: 40px;
    }
  }
  .section__title {
    padding: 30px 0;
    color: #3e206d;
    font-family: "Poppins-SemiBold";
  }
}
